<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome Email</title>
</head>

<body>
    <h1>Hoş Geldiniz!</h1>
    <p>Merhaba {{firstName}} {{lastName}},</p>
    <p>Uygulamamıza hoş geldiniz! Sizinle beraber olmaktan mutluluk duyuyoruz.</p>
    <p>Giriş yaptığınız için teşekkür ederiz.</p>
    <p>Saygılarımızla,<br>Şirket Adı</p>
</body>

</html>