<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome Email</title>
</head>

<body>
    <h1>Hoş Geldiniz!</h1>
    <p>Merhaba {{to}},</p>
    <p>Email doğrulama yapmak için aşşağıdaki linke tıklayın</p>
    <p>{{token}}</p>
    <p>Saygılarımızla,<br>Şirket Adı</p>
</body>

</html>